<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewData["Title"] - Business Data</title>

        <!-- Fuentes profesionales -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet" />

        <link rel="stylesheet" href="~/css/site.css" />

    </head>
    <body>
        <div class="logo">
            <img src="/Logo.png" alt="Business Data Logo">
        </div>
        <header>
            <h1>@ViewData["Title"]</h1>
       
            <nav>
                <ul>
                    <li><a href="/">Empresas</a></li>
                    <li><a href="/AboutUs">Sobre Nosotros</a></li>
                    <li><a href="/Noticias">Noticias</a></li>
                    <li><a href="/Contacto">Contacto</a></li>
                </ul>
            </nav>
        
        </header>
    
        <main>
        
            @RenderBody()
        </main>
        <footer>
            <p>&copy; @DateTime.Now.Year Business Data. Todos los derechos reservados.</p>
        </footer>
        
        <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
    </body>
</html>
